Repository Vita3K/Vita3K, pull requests merged in 2018-05, with the labels that each got.

#203 Allow ET_SCE_EXEC
  src/emulator/kernel/src/load_self.cpp
  src/emulator/mem/include/mem/mem.h
  src/emulator/mem/src/mem.cpp
Labels: memory, modules

#207 [io] Support tty1:
  src/emulator/io/include/io/VitaIoDevice.def
  src/emulator/io/src/io.cpp
Labels: io

#223 Shader struct support
  src/emulator/gxm/src/gxm.cpp
Labels: gxm

#236 kernel: (Lightweight) Condition Variables
  src/emulator/gui/CMakeLists.txt
  src/emulator/gui/include/gui/functions.h
  src/emulator/gui/include/gui/state.h
  src/emulator/gui/src/ui_common_dialog.cpp
  src/emulator/gui/src/ui_condvars_dialog.cpp
  src/emulator/gui/src/ui_main.cpp
  src/emulator/gui/src/ui_main_menubar.cpp
  src/emulator/gxm/src/gxm.cpp
  src/emulator/host/include/host/functions.h
  src/emulator/host/src/app.cpp
  src/emulator/host/src/host.cpp
  src/emulator/io/src/io.cpp
  src/emulator/kernel/include/kernel/state.h
  src/emulator/kernel/include/kernel/thread/sync_primitives.h
  src/emulator/kernel/include/kernel/types.h
  src/emulator/kernel/src/load_self.cpp
  src/emulator/kernel/src/thread/sync_primitives.cpp
  src/emulator/kernel/src/thread/thread.cpp
  src/emulator/main.cpp
  src/emulator/module/tests/arg_layout_tests.cpp
  src/emulator/modules/SceAppUtil/SceAppUtil.cpp
  src/emulator/modules/SceKernelThreadMgr/SceThreadmgr.cpp
  src/emulator/modules/SceLibKernel/SceLibKernel.cpp
  src/emulator/modules/SceNetCtl/SceNetCtl.cpp
  src/emulator/modules/SceSysmem/SceSysmem.cpp
Labels: kernel, ready for review, threads

#246 Implemented several dialogs related stuffs.
  src/emulator/dialog/include/dialog/state.h
  src/emulator/dialog/include/dialog/types.h
  src/emulator/gui/src/ui_common_dialog.cpp
  src/emulator/modules/SceCommonDialog/SceCommonDialog.cpp
Labels: ready for review

#248 Implemented sceKernelWaitThreadEndCB and fixed two bugs in sceIoDread.
  src/emulator/io/CMakeLists.txt
  src/emulator/io/include/io/functions.h
  src/emulator/io/include/io/types.h
  src/emulator/io/src/io.cpp
  src/emulator/modules/SceLibKernel/SceLibKernel.cpp
Labels: ready for review

#251 [mem] Dividing the available pool equally.
  src/emulator/modules/SceSysmem/SceSysmem.cpp
Labels: ready for review

#268 Enable vsync for main OpenGL context.
  src/emulator/host/src/host.cpp
Labels: gxm
