Repository Vita3K/Vita3K, pull requests merged in 2018-03, with the labels that each got.

#80 [READY TO MERGE] Threads refactoring
  src/emulator/CMakeLists.txt
  src/emulator/cpu/include/cpu/functions.h
  src/emulator/cpu/src/cpu.cpp
  src/emulator/gxm/CMakeLists.txt
  src/emulator/gxm/include/gxm/state.h
  src/emulator/gxm/include/gxm/types.h
  src/emulator/host/CMakeLists.txt
  src/emulator/host/include/host/state.h
  src/emulator/host/src/host.cpp
  src/emulator/kernel/CMakeLists.txt
  src/emulator/kernel/include/kernel/thread_functions.h
  src/emulator/kernel/include/kernel/thread_state.h
  src/emulator/kernel/src/thread.cpp
  src/emulator/load_self.cpp
  src/emulator/main.cpp
  src/emulator/module/include/module/bridge_args.h
  src/emulator/modules/SceDisplay/SceDisplay.cpp
  src/emulator/modules/SceDisplay/SceDisplayUser.cpp
  src/emulator/modules/SceGxm/SceGxm.cpp
  src/emulator/modules/SceKernelThreadMgr/SceThreadmgr.cpp
  src/emulator/modules/SceLibKernel/SceLibKernel.cpp
  src/emulator/threads/CMakeLists.txt
  src/emulator/threads/include/threads/queue.h
Labels: enhancement, optimization

#105 Support all 16 paletted texture formats (fixes VitaDoom)
  src/emulator/gxm/include/gxm/functions.h
  src/emulator/gxm/src/gxm.cpp
  src/emulator/modules/SceGxm/SceGxm.cpp
Labels: enhancement, gxm

#107 Implement sceRtcGetTime*_t
  src/emulator/host/CMakeLists.txt
  src/emulator/host/include/host/rtc.h
  src/emulator/host/src/rtc.cpp
  src/emulator/modules/SceLibKernel/SceLibKernel.cpp
  src/emulator/modules/ScePower/ScePower.cpp
  src/emulator/modules/SceRtc/SceRtcUser.cpp
Labels: enhancement

#114 Rename fragment and vertex shaders to .frag and .vert respectively.
  src/emulator/gxm/src/gxm.cpp
  src/emulator/shaders/01ec56fcd9bbe9f2ac904945c7d24e821fc33c2716f409f10d369489e1c5d329.frag
  src/emulator/shaders/1b3db7bd4c3e0f86e57832618a7aca4d3f9309953132ebf75b59d9639aea2fe3.frag
  src/emulator/shaders/2d0642fd51a5d1c4182ac9c56c3b3b3c89ae8cbbb8fc794f6210a34e7046adad.frag
  src/emulator/shaders/2d58645612716ea95f5e2fc5b37a46ddc6c26f88eb2cabc9825a9491003c2ea8.frag
  src/emulator/shaders/36cc94711eeb2605f9e79c83bab840c809bc7eb2fa643494139d2e09d8645f96.vert
  src/emulator/shaders/5acdb33810beec95fb2c3f38f4f216d3536efc8686d4e10415e44b5c37bc8eb8.vert
  src/emulator/shaders/5c9fd968c7395112d87965ab3919c905fa67552adecd5ee819a5e14e13b74590.frag
  src/emulator/shaders/64455397207da9a236a312112b049c7ca03c848c16e5a90ab26e37e7eee5876b.frag
  src/emulator/shaders/6dc1d05517cd116e52b4f5fde02e34e9d21faf8b52f063148e1084172c7e3c47.frag
  src/emulator/shaders/7c22739cd9593ad125ceab59bb2aed60fd8b063aa56c416afc0f4c60f69a5cc5.frag
  src/emulator/shaders/8df81b465da5bf5155e856aa12bedbdfa40d5009ff9ee19b9ea903a43aea46c9.frag
  src/emulator/shaders/925d1eff277a4bf2eb0694d316973907c5f5f8cfc5bb3364e3706cb921203f88.frag
  src/emulator/shaders/9566374be231bca9b76e9f59e6b8f5ab3cd8ed6401304a9182f25e835e256024.vert
  src/emulator/shaders/97353fa5f2083ec8fef91a4bcb4cdde9c33b921d52886d7a32eab72c495772c4.vert
  src/emulator/shaders/9dda8a3b77baa4dc9f573eb74faa2f014d9e746cec719faf7c905732dc117710.vert
  src/emulator/shaders/9f91b61e113dcc69792c0d5057f84a1c292b145c7580203e6e43cdb5b4daa3dc.frag
  src/emulator/shaders/a708f79e02cf8497519f8be4c00989ae2f2486cca665b5adeb93b49a25753870.vert
  src/emulator/shaders/a98221bd35478b773fbe7087265518134f0db4d148032275bde93ea66d6abdc9.frag
  src/emulator/shaders/b9d5693c598b0f23b4114941a7055d642fbf46a68488a6edc7b4313b58983966.frag
  src/emulator/shaders/bf6936ef2f23bf752c7e197965dab2858e957b77ac638037d594fad55a38eb56.vert
  src/emulator/shaders/c4cdf19f82f5484556ee3a6ede410d049e08ac1c4c11c80b984070dc4fdcf253.frag
  src/emulator/shaders/c967b3d1c2ebda34628eda8fd007bb107ec454c5a72a0a5061afc4f680c7d1f6.frag
  src/emulator/shaders/ce748efe5db5316c3f3787c1b3b6c45b3898894a60fc7f1bddaade3b9e3b5194.vert
  src/emulator/shaders/cf024248f05d12f670406e5735c27dae89257b4af8e9b184248685caf508ae59.frag
  src/emulator/shaders/d5e00b2f019b6341508eafc8ad5b60b2e3c2d9366339be2c04c3ede217cd6169.frag
  src/emulator/shaders/d971160de737aa3bbcb534e52eba5c06b47bd30729865ac26c9de5a1ea2a4381.frag
  src/emulator/shaders/da43095d55a5f9088883122ed02f9696441b9415d1455dc6693a10569dc50eb5.vert
  src/emulator/shaders/fdb49c863e7fcfba08a54467695d14285159bae9fd219f83cc37524b5932aaed.frag
Labels: gxm
