Repository Vita3K/Vita3K, pull requests merged in 2019-03, with the labels that each got.

#404 Shader instruction decoder & recompiler foundation
  .clang-format
  src/emulator/CMakeLists.txt
  src/emulator/gxm/include/gxm/types.h
  src/emulator/gxm/src/gxp.cpp
  src/emulator/host/include/host/config.h
  src/emulator/host/src/config.cpp
  src/emulator/main.cpp
  src/emulator/modules/SceGxm/SceGxm.cpp
  src/emulator/renderer/CMakeLists.txt
  src/emulator/renderer/src/functions.h
  src/emulator/renderer/src/load_shaders.cpp
  src/emulator/renderer/src/renderer.cpp
  src/emulator/renderer/src/uniforms.cpp
  src/emulator/shader/CMakeLists.txt
  src/emulator/shader/include/shader/decoder_detail.h
  src/emulator/shader/include/shader/matcher.h
  src/emulator/shader/include/shader/profile.h
  src/emulator/shader/include/shader/spirv_recompiler.h
  src/emulator/shader/include/shader/types_imm.h
  src/emulator/shader/include/shader/usse_decoder_helpers.h
  src/emulator/shader/include/shader/usse_disasm.h
  src/emulator/shader/include/shader/usse_opcodes.inc
  src/emulator/shader/include/shader/usse_translator.h
  src/emulator/shader/include/shader/usse_translator_entry.h
  src/emulator/shader/include/shader/usse_translator_types.h
  src/emulator/shader/include/shader/usse_types.h
  src/emulator/shader/src/spirv_recompiler.cpp
  src/emulator/shader/src/usse_decode_helpers.cpp
  src/emulator/shader/src/usse_disasm.cpp
  src/emulator/shader/src/usse_translator.cpp
  src/emulator/shader/src/usse_translator_entry.cpp
  src/emulator/shadergen/CMakeLists.txt
  src/emulator/shadergen/include/shadergen/functions.h
  src/emulator/shadergen/include/shadergen/profile.h
  src/emulator/shadergen/src/shadergen_spirv.cpp
  src/emulator/util/CMakeLists.txt
  src/emulator/util/include/util/function_info.h
  src/external/rpcs3/include/rpcs3/BitField.h
Labels: gxm, shaders

#434 Some GXM implementations and a few other fixes
  src/emulator/gxm/include/gxm/types.h
  src/emulator/kernel/src/thread/sync_primitives.cpp
  src/emulator/module/include/module/bridge.h
  src/emulator/module/include/module/lay_out_args.h
  src/emulator/module/include/module/read_arg.h
  src/emulator/module/include/module/vargs.h
  src/emulator/module/include/module/write_return_value.h
  src/emulator/module/src/read_arg.cpp
  src/emulator/module/src/write_return_value.cpp
  src/emulator/module/tests/arg_layout_tests.cpp
  src/emulator/modules/SceGxm/SceGxm.cpp
  src/emulator/modules/SceLibKernel/SceLibKernel.cpp
  src/emulator/modules/SceRtc/SceRtcUser.cpp
  src/emulator/modules/SceTouch/SceTouch.cpp
  src/emulator/renderer/src/uniforms.cpp
  src/emulator/shader/src/spirv_recompiler.cpp
  src/emulator/shader/src/usse_translator.cpp
  src/emulator/shader/src/usse_translator_entry.cpp
Labels: gxm

#446 glutil: Fix shaders on platforms where GL_INFOLOG_LENGTH is 1
  src/emulator/glutil/src/shader.cpp
Labels: bug, renderer
