Repository Vita3K/Vita3K, pull requests merged in 2020-06, with the labels that each got.

#742 Add trophy manager.
  vita3k/gui/CMakeLists.txt
  vita3k/gui/include/gui/functions.h
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/main_menubar.cpp
  vita3k/gui/src/private.h
  vita3k/gui/src/trophy.cpp
Labels: gui, ui

#705 some refactor on gui
  vita3k/gui/CMakeLists.txt
  vita3k/gui/include/gui/functions.h
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/game_selector.cpp
  vita3k/gui/src/gui.cpp
Labels: gui, ui

#687 lot refactor and rename game to app.
  vita3k/app/src/app.cpp
  vita3k/gui/CMakeLists.txt
  vita3k/gui/include/gui/functions.h
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/about_dialog.cpp
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/app_selector.cpp
  vita3k/gui/src/archive_install_dialog.cpp
  vita3k/gui/src/controls_dialog.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/live_area.cpp
  vita3k/gui/src/main_menubar.cpp
  vita3k/gui/src/manual.cpp
  vita3k/gui/src/perf_overlay.cpp
  vita3k/gui/src/pkg_install_dialog.cpp
  vita3k/gui/src/private.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/gui/src/trophy.cpp
  vita3k/host/include/host/state.h
  vita3k/host/src/pkg.cpp
  vita3k/interface.cpp
  vita3k/interface.h
  vita3k/main.cpp
Labels: ui

#744 gui: Trim titles so that they order and show correctly
  vita3k/gui/src/gui.cpp
Labels: gui, ui

#757 Add fomat check github actions job
  .github/format-check.sh
  .github/workflows/c-cpp.yml
Labels: build
