Repository Vita3K/Vita3K, pull requests merged in 2021-01, with the labels that each got.

#1081 shader: Fix typos and implement high/low modifier for IMAD32
  vita3k/shader/include/shader/usse_translator.h
  vita3k/shader/include/shader/usse_types.h
  vita3k/shader/src/translator/alu.cpp
  vita3k/shader/src/translator/data.cpp
  vita3k/shader/src/translator/ialu.cpp
  vita3k/shader/src/usse_program_analyzer.cpp
  vita3k/shader/src/usse_translator_entry.cpp
  vita3k/shader/src/usse_utilities.cpp
Labels: shaders

#608 Bankai refactor user management
  vita3k/config/include/config/config.h
  vita3k/gui/include/gui/functions.h
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/app_selector.cpp
  vita3k/gui/src/content_manager.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/live_area.cpp
  vita3k/gui/src/main_menubar.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/gui/src/themes.cpp
  vita3k/gui/src/user_management.cpp
  vita3k/interface.cpp
  vita3k/main.cpp
Labels: ui

#1098 add welcome dialog on first boot and more.
  vita3k/CMakeLists.txt
  vita3k/config/include/config/config.h
  vita3k/gui/CMakeLists.txt
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/app_selector.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/main_menubar.cpp
  vita3k/gui/src/private.h
  vita3k/gui/src/welcome_dialog.cpp
Labels: ui

#1083 SceAudiodec: add mp3 support
  vita3k/codec/CMakeLists.txt
  vita3k/codec/include/codec/state.h
  vita3k/codec/src/decoder.cpp
  vita3k/codec/src/mp3.cpp
  vita3k/modules/SceAudiodec/SceAudiodecUser.cpp
Labels: audio
