Repository Vita3K/Vita3K, pull requests merged in 2023-12, with the labels that each got.

#3144 app: fix incorrect AppImage assets handling
  vita3k/app/src/app_init.cpp
Labels: app

#3148 modules/SceThreadmgr: Return 1 as the process id
  vita3k/modules/SceKernelThreadMgr/SceThreadmgr.cpp
Labels: hle

#3150 modules/SceNgs: Improve sceNgsAT9GetSectionDetails
  vita3k/modules/SceNgsUser/SceNgs.cpp
  vita3k/modules/SceProcessmgr/SceProcessmgr.cpp
  vita3k/modules/SceProcessmgr/SceProcessmgr.h
  vita3k/ngs/include/ngs/system.h
  vita3k/ngs/src/modules/atrac9.cpp
Labels: hle, ngs

#3162 modules/SceGxm: Improve softlock prevention for sync object
  vita3k/gxm/include/gxm/state.h
  vita3k/modules/SceGxm/SceGxm.cpp
  vita3k/renderer/include/renderer/gxm_types.h
Labels: gxm, renderer, hle
