Repository Vita3K/Vita3K, pull requests merged in 2024-01, with the labels that each got.

#3160 renderer/vulkan: Improve surface cache
  vita3k/renderer/include/renderer/vulkan/surface_cache.h
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: renderer, vulkan

#3163 renderer: Rewrite TransferCopy
  vita3k/renderer/CMakeLists.txt
  vita3k/renderer/src/scene.cpp
  vita3k/renderer/src/transfer.cpp
Labels: renderer, build

#3164 renderer/vulkan: Fix issue with surface cache typeless copies
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: renderer, vulkan

#3170 .github/labeler: small fixes
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: build, .github

#3171 gui/lang: update japanese for settings dialog
  lang/system/ja.xml
Labels: gui/lang

#3168 gui/settings_dialog: Update lang strings and adjust debug options.
  lang/system/da.xml
  lang/system/de.xml
  lang/system/en-gb.xml
  lang/system/en.xml
  lang/system/es.xml
  lang/system/fi.xml
  lang/system/fr.xml
  lang/system/it.xml
  lang/system/ja.xml
  lang/system/ko.xml
  lang/system/nl.xml
  lang/system/no.xml
  lang/system/pl.xml
  lang/system/pt-br.xml
  lang/system/pt.xml
  lang/system/ru.xml
  lang/system/sv.xml
  lang/system/tr.xml
  lang/system/zh-s.xml
  lang/system/zh-t.xml
  lang/user/id.xml
  lang/user/ms.xml
  vita3k/gui/src/content_manager.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
  vita3k/lang/src/lang.cpp
Labels: gui, gui/lang

#3173 vita3K: Bump version to 0.2.0.
  vita3k/CMakeLists.txt
  vita3k/script/update-windows.bat
Labels: build, windows, script

#3169 renderer/vulkan: Improvements for asynchronous pipeline compilation
  vita3k/renderer/src/vulkan/pipeline_cache.cpp
  vita3k/renderer/src/vulkan/scene.cpp
Labels: renderer, vulkan

#3176 renderer/vulkan: Fix typo in pipeline_cache
  vita3k/renderer/src/vulkan/pipeline_cache.cpp
Labels: renderer, vulkan

#3184 renderer/vulkan: Fix depth/stencil identification
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: renderer, vulkan

#3179 Typo fixes - Season 2
  building.md
  vita3k/gdbstub/src/gdb.cpp
  vita3k/gui/src/about_dialog.cpp
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/common_dialog.cpp
  vita3k/gui/src/compile_shaders.cpp
  vita3k/gui/src/content_manager.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/information_bar.cpp
  vita3k/gui/src/live_area.cpp
  vita3k/gui/src/manual.cpp
  vita3k/gui/src/settings.cpp
  vita3k/kernel/src/cpu_protocol.cpp
  vita3k/kernel/src/relocation.cpp
  vita3k/kernel/src/thread.cpp
  vita3k/main.cpp
  vita3k/mem/src/mem.cpp
  vita3k/ngs/src/scheduler.cpp
  vita3k/packages/src/pup.cpp
  vita3k/renderer/include/renderer/gl/functions.h
  vita3k/renderer/src/gl/attribute_formats.cpp
  vita3k/renderer/src/gl/sync_state.cpp
  vita3k/renderer/src/texture/replacement.cpp
  vita3k/renderer/src/transfer.cpp
  vita3k/renderer/src/vulkan/gxm_to_vulkan.cpp
  vita3k/renderer/src/vulkan/pipeline_cache.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/renderer/src/vulkan/scene.cpp
  vita3k/renderer/src/vulkan/surface_cache.cpp
  vita3k/shader/src/gxp_parser.cpp
  vita3k/shader/src/usse_utilities.cpp
  vita3k/util/src/float_to_half.cpp
Labels: memory, kernel, renderer, gui, ngs, shader, vulkan, debug, gdbstub, opengl, packages, texture, util, document

#3180 .github: Create GItHub issue templates
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/3-blank_template.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: .github, document

#3186 Fix sceAudioOutSetConfig implementation
  vita3k/modules/SceAudio/SceAudio.cpp
Labels: modules, hle

#3188 gui: Fix audio parameter
  vita3k/gui/src/settings_dialog.cpp
Labels: gui

#3189 display: Add FPS hack
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/display/include/display/state.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/modules/SceDisplay/SceDisplay.cpp
Labels: modules, gui, hle, config, display

#3190 ci: Use static dependencies on windows
  .github/workflows/c-cpp.yml
Labels: build, .github

#3192 Fix building RelDebug
  vita3k/renderer/src/transfer.cpp
  vita3k/util/include/util/keywords.h
Labels: renderer, util

#3194 config: Implement global volume percent setting.
  lang/system/en-gb.xml
  lang/system/en.xml
  vita3k/app/src/app_init.cpp
  vita3k/audio/include/audio/state.h
  vita3k/audio/src/audio.cpp
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
Labels: audio, gui, app, config, gui/lang

#3193 vita3k: Improve path support for Linux and macOS.
  vita3k/app/src/app_init.cpp
Labels: app
