Repository Vita3K/Vita3K, pull requests merged in 2024-12, with the labels that each got.

#3431 gui/trophy_collection: Allow to display hidden trophy
  lang/system/en.xml
  vita3k/gui/src/trophy_collection.cpp
  vita3k/lang/include/lang/state.h
Labels: gui, gui/lang

#3441 modules/SceMotion: Improve motion support
  vita3k/modules/SceDriverUser/SceMotion.cpp
  vita3k/motion/include/motion/functions.h
  vita3k/motion/include/motion/motion_input.h
  vita3k/motion/src/motion.cpp
  vita3k/motion/src/motion_input.cpp
Labels: modules, hle, motion

#3452 gui/home screen: refactor App filtered, moving to string.
  vita3k/gui/include/gui/functions.h
  vita3k/gui/src/home_screen.cpp
  vita3k/interface.cpp
Labels: gui

#3472 .github/workflows: Back linux CI to the last clang
  .github/workflows/c-cpp.yml
  .github/workflows/codeql-analysis.yml
  CMakePresets.json
Labels: build, .github

#3468 .github/workflows: Add the replace option to ghr
  .github/labeler.yml
  .github/workflows/c-cpp.yml
Labels: build, .github

#3480 ci: Limit concurrent execution of create-release jobs to prevent bugs
  .github/workflows/c-cpp.yml
Labels: build, .github

#3471 gui/save data dialog: fix display slot on load with empty param.
  vita3k/gui/src/common_dialog.cpp
  vita3k/modules/SceCommonDialog/SceCommonDialog.cpp
Labels: modules, gui, hle

#3484 io: Implement support of tty(2/3).
  vita3k/io/include/io/VitaIoDevice.h
  vita3k/io/src/device.cpp
  vita3k/io/src/io.cpp
Labels: io

#3469 external: update MoltenVK to 1.2.11
  external/CMakeLists.txt
Labels: external

#3440 lang: Translate some strings into simplified Chinese.
  lang/system/zh-s.xml
Labels: gui/lang

#3475 gui/imgui: Backport imgi_impl_sdl from vita3k-android
  vita3k/gui/include/gui/imgui_impl_sdl_state.h
  vita3k/gui/src/imgui_impl_sdl.cpp
Labels: gui
