Repository Vita3K/Vita3K, pull requests merged in 2024-06, with the labels that each got.

#3310 renderer: Fix conversion bugs
  vita3k/renderer/src/texture/format.cpp
Labels: renderer, texture

#3314 util: Add very-early VC++ runtime version check
  vita3k/CMakeLists.txt
  vita3k/util/CMakeLists.txt
  vita3k/util/src/vc_runtime_checker.cpp
Labels: build, util

#3308 build: fix openssl link with update to 3.3.1.
  external/CMakeLists.txt
  vita3k/CMakeLists.txt
Labels: external

#3316 gui: wrap tooltips on window border
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/controllers_dialog.cpp
  vita3k/gui/src/controls_dialog.cpp
  vita3k/gui/src/firmware_install_dialog.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/initial_setup.cpp
  vita3k/gui/src/license_install_dialog.cpp
  vita3k/gui/src/pkg_install_dialog.cpp
  vita3k/gui/src/private.h
  vita3k/gui/src/settings_dialog.cpp
Labels: gui

#3309 gui/info bar: fix position of notice count.
  vita3k/gui/src/information_bar.cpp
Labels: gui

#3319 CI: skip releases on forks
  .github/workflows/c-cpp.yml
Labels: build, .github

#3259 .github: push builds to store repository
  .github/workflows/c-cpp.yml
Labels: build, .github

#3320 .github/workflows: Push build to store repository using ghr
  .github/workflows/c-cpp.yml
Labels: build, .github

#3292 io/modules: Make modules load the case sensitive file found in fs
  vita3k/io/src/io.cpp
  vita3k/modules/module_parent.cpp
Labels: modules, io, hle
