Repository Vita3K/Vita3K, pull requests merged in 2024-09, with the labels that each got.

#3359 imgui: ImGuiChildFlags_Border migration
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/archive_install_dialog.cpp
  vita3k/gui/src/common_dialog.cpp
  vita3k/gui/src/content_manager.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/home_screen.cpp
  vita3k/gui/src/ime.cpp
  vita3k/gui/src/information_bar.cpp
  vita3k/gui/src/initial_setup.cpp
  vita3k/gui/src/license_install_dialog.cpp
  vita3k/gui/src/live_area.cpp
  vita3k/gui/src/manual.cpp
  vita3k/gui/src/perf_overlay.cpp
  vita3k/gui/src/settings.cpp
  vita3k/gui/src/trophy_collection.cpp
  vita3k/gui/src/user_management.cpp
  vita3k/gui/src/vita3k_update.cpp
Labels: gui

#3367 renderer/gl: Add support for U8U8U8 color format
  vita3k/renderer/src/gl/color_formats.cpp
Labels: renderer, opengl

#3368 gui/vita3k updater: Fix batch script path handling on Windows.
  vita3k/gui/src/vita3k_update.cpp
Labels: gui

#3369 app: Disable round window corners on Windows
  vita3k/app/src/app_init.cpp
Labels: app

#3372 renderer/gl: Fix unnecessary translate_type() call for compressed textures
  vita3k/renderer/src/gl/texture.cpp
Labels: renderer, opengl

#3366 modules/SceJpeg: Implement MCU-based decoding and pitch calculation
  vita3k/codec/include/codec/state.h
  vita3k/codec/src/mjpeg.cpp
  vita3k/modules/SceJpeg/SceJpegUser.cpp
Labels: modules, hle, codec

#3374 gui/interface: Fix reinstall using DnD and Vulkan
  vita3k/gui/include/gui/functions.h
  vita3k/gui/src/reinstall.cpp
  vita3k/interface.cpp
Labels: gui

#3361 Vita3K/CI: set macOS minimum version to 11.0
  .github/workflows/c-cpp.yml
  CMakeLists.txt
  external/CMakeLists.txt
  external/MoltenVK/mvk_config.h
  vita3k/CMakeLists.txt
  vita3k/renderer/src/vulkan/renderer.cpp
Labels: renderer, vulkan, .github, external

#3376 external: Fix OpenSSL path installation for the new 3.3.2 version.
  external/CMakeLists.txt
  vita3k/CMakeLists.txt
Labels: external

#3381 gui/perf overlay: Refactor calcul window size.
  vita3k/gui/src/perf_overlay.cpp
  vita3k/main.cpp
Labels: gui

#3375 util/net utils: Implement file download resume.
  lang/system/da.xml
  lang/system/de.xml
  lang/system/en-gb.xml
  lang/system/en.xml
  lang/system/es.xml
  lang/system/fi.xml
  lang/system/fr.xml
  lang/system/it.xml
  lang/system/ja.xml
  lang/system/ko.xml
  lang/system/nl.xml
  lang/system/no.xml
  lang/system/pl.xml
  lang/system/pt-br.xml
  lang/system/pt.xml
  lang/system/ru.xml
  lang/system/sv.xml
  lang/system/tr.xml
  lang/system/zh-s.xml
  lang/system/zh-t.xml
  lang/user/ms.xml
  lang/user/ua.xml
  vita3k/gui/src/vita3k_update.cpp
  vita3k/lang/include/lang/state.h
  vita3k/util/include/util/net_utils.h
  vita3k/util/src/net_utils.cpp
Labels: gui, util, gui/lang

#3384 renderer/gl: Implement F32 base color format
  vita3k/renderer/src/gl/color_formats.cpp
Labels: renderer, opengl

#3380 modules/SceJpeg: Improve JPEG decoding accuracy
  vita3k/codec/include/codec/state.h
  vita3k/codec/src/mjpeg.cpp
  vita3k/modules/SceJpeg/SceJpegUser.cpp
Labels: modules, hle, codec

#3387 vita3k: Use hex for error codes
  lang/system/en.xml
  vita3k/Windows.manifest
  vita3k/codec/src/atrac9.cpp
  vita3k/gui/src/gui.cpp
  vita3k/io/src/io.cpp
  vita3k/lang/include/lang/state.h
Labels: io, gui, codec, gui/lang

#3385 gui/perf overlay: Fix window size on Mininum detail.
  vita3k/gui/src/perf_overlay.cpp
Labels: gui
