Repository Vita3K/Vita3K, pull requests merged in 2024-11, with the labels that each got.

#3424 renderer: Fix incorrect timestamp offset in wait_cmd function
  vita3k/renderer/src/batch.cpp
Labels: renderer

#3415 add build instructions for Fedora
  building.md
Labels: document

#3422 modules/SceSharedFb: Implement few functions.
  vita3k/modules/SceAppMgr/SceSharedFb.cpp
  vita3k/modules/include/modules/library_init_list.inc
Labels: modules, hle

#3408 compat: change time style to yyyy-mm-dd
  vita3k/compat/src/compat.cpp
Labels: compat

#3428 kernel: more correct thread local storage emulation
  vita3k/kernel/include/kernel/types.h
  vita3k/kernel/src/thread.cpp
  vita3k/modules/SceKernelThreadMgr/SceThreadmgr.cpp
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
  vita3k/modules/SceLibc/SceLibc.cpp
  vita3k/modules/SceNet/SceNet.cpp
Labels: modules, kernel, hle

#3421 modules/SceIpmi: stub some functions.
  vita3k/modules/CMakeLists.txt
  vita3k/modules/SceIpmi/SceIpmi.cpp
  vita3k/modules/include/modules/module_parent.h
  vita3k/modules/module_parent.cpp
  vita3k/nids/include/nids/nids.inc
Labels: modules, build, hle, nids

#3410 modules/SceGxm: Improve sync object handling and simplify display queue logic
  vita3k/gxm/include/gxm/state.h
  vita3k/modules/SceGxm/SceGxm.cpp
Labels: gxm, modules, hle

#3418 package: Add support installation of Preinstalled firmware.
  vita3k/gui/src/initial_setup.cpp
  vita3k/packages/CMakeLists.txt
  vita3k/packages/include/packages/exfat.h
  vita3k/packages/src/exfat.cpp
  vita3k/packages/src/pup.cpp
Labels: build, gui, packages

#3436 gui: fix bug in previous commit (PR #3425). Can't close settings dialog
  vita3k/gui/src/settings_dialog.cpp
Labels: gui

#3429 modules/SceDisplay: Implement GetMaximumFrameBufResolution.
  vita3k/modules/SceDisplay/SceDisplay.cpp
  vita3k/modules/SceDisplay/SceDisplay.h
  vita3k/modules/SceDriverUser/SceDisplayUser.cpp
Labels: modules, hle

#3433 modules/SceAppMgr: Stub sceAppMgrMmsMount.
  vita3k/modules/SceAppMgr/SceAppMgr.cpp
  vita3k/modules/SceAppMgr/SceAppMgr.h
  vita3k/modules/SceDriverUser/SceAppMgrUser.cpp
Labels: modules, hle

#3443 gui/app_context_menu: Improvements to update_history
  vita3k/gui/src/app_context_menu.cpp
Labels: gui

#3445 app: Ignore XDG_DATA_DIRS for shared path
  vita3k/app/src/app_init.cpp
Labels: app

#3448 lang: better ru translation
  lang/system/ru.xml
Labels: gui/lang

#3449 touch: Validate all input params and simplify code
  vita3k/modules/SceTouch/SceTouch.cpp
  vita3k/touch/include/touch/touch.h
  vita3k/touch/src/touch.cpp
Labels: modules, hle, touch
