Repository Vita3K/Vita3K, pull requests merged in 2024-08, with the labels that each got.

#3345 cmake: set boost minimum version
  CMakeLists.txt
Labels: build

#3346 renderer/gl: fix bcn compressed size in upload_texture_impl
  vita3k/renderer/src/gl/texture.cpp
Labels: renderer, opengl

#3351 renderer/vk: use physical_device if not null
  vita3k/renderer/src/vulkan/renderer.cpp
Labels: renderer, vulkan

#2203 README: update
  README.md
Labels: document
