Repository Vita3K/Vita3K, pull requests merged in 2024-10, with the labels that each got.

#3370 gui/pkg_install_dialog: Allow license files to be automatically selected if it is already exist
  vita3k/gui/src/pkg_install_dialog.cpp
Labels: gui

#3388 modules: Add SceUlobjDbg related new NIDs
  vita3k/modules/CMakeLists.txt
  vita3k/modules/SceUlobjDbg/SceUlobjDbg.cpp
  vita3k/nids/include/nids/nids.inc
Labels: modules, build, hle, nids

#3398 modules/SceSysmem: Set correct start_address for USER_RW_UNCACHE
  vita3k/modules/SceSysmem/SceSysmem.cpp
Labels: modules, hle

#3389 gui/information bar: Fix iterator invalidation bug in notice list processing
  vita3k/gui/src/information_bar.cpp
Labels: gui

#3397 modules/SceKernel: Implement sceKernelGetEventPattern
  vita3k/modules/SceKernelThreadMgr/SceThreadmgr.cpp
  vita3k/modules/SceKernelThreadMgr/SceThreadmgr.h
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
Labels: modules, hle

#3399 gui: Fix load_image pointer validity check
  vita3k/gui/include/gui/functions.h
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/trophy_unlocked.cpp
Labels: gui

#3383 gui/controllers dialog: Implement swap for controller ports.
  vita3k/gui/src/controllers_dialog.cpp
Labels: gui

#3394 modules: fix IME crash due to no initial text
  vita3k/modules/SceIme/SceIme.cpp
Labels: modules, hle

#3405 gui/ime: Fix IME crash when backspace button is pressed when the input box is empty
  vita3k/gui/src/ime.cpp
Labels: gui

#3400 modules/SceGxm: Prevent viewport updates outside of the scene
  vita3k/modules/SceGxm/SceGxm.cpp
Labels: modules, hle

#3404 gui: Refactor notice handling and app selection.
  vita3k/gui/include/gui/functions.h
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/archive_install_dialog.cpp
  vita3k/gui/src/home_screen.cpp
  vita3k/gui/src/information_bar.cpp
  vita3k/gui/src/pkg_install_dialog.cpp
Labels: gui

#3406 Add support for mingw-w64
  external/CppCommon/include/cpu.h
  external/CppCommon/source/environment.cpp
  tools/gen-modules/gen-modules.cpp
  vita3k/app/src/app_init.cpp
  vita3k/ctrl/include/ctrl/state.h
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/gui/src/vita3k_update.cpp
  vita3k/io/include/io/filesystem.h
  vita3k/io/src/filesystem.cpp
  vita3k/io/src/io.cpp
  vita3k/main.cpp
  vita3k/mem/include/mem/atomic.h
  vita3k/mem/src/mem.cpp
  vita3k/modules/SceAppUtil/SceAppUtil.cpp
  vita3k/modules/SceHttp/SceHttp.cpp
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
  vita3k/modules/SceLibc/SceLibc.cpp
  vita3k/modules/SceNet/SceNet.cpp
  vita3k/net/include/net/socket.h
  vita3k/net/src/posixsocket.cpp
  vita3k/renderer/src/texture/cache.cpp
  vita3k/renderer/src/vulkan/context.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/util/include/util/exec.h
  vita3k/util/include/util/safe_time.h
  vita3k/util/include/util/string_utils.h
  vita3k/util/src/logging.cpp
  vita3k/util/src/net_utils.cpp
  vita3k/util/src/string_utils.cpp
Labels: modules, io, memory, renderer, gui, net, app, hle, vulkan, ctrl, texture, util, external, tools

#3413 gui/settings: Skip theme list refresh if no recent updates detected.
  vita3k/gui/src/settings.cpp
Labels: gui

#3416 vulkan: fix assertion in Instruction::addIdOperand
  vita3k/shader/src/translator/texture.cpp
Labels: shader
