Repository Vita3K/Vita3K, pull requests merged in 2024-02, with the labels that each got.

#3196 workflows: Update actions
  .github/workflows/c-cpp.yml
  .github/workflows/codeql-analysis.yml
Labels: build, .github

#3198 gui/settings dialog; Add audio tab & small refactor.
  lang/system/en-gb.xml
  lang/system/en.xml
  vita3k/app/src/app_init.cpp
  vita3k/audio/include/audio/state.h
  vita3k/audio/src/audio.cpp
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
  vita3k/lang/src/lang.cpp
Labels: audio, gui, app, config, gui/lang

#3205 build: fix openssl pre-build path.
  external/CMakeLists.txt
  vita3k/CMakeLists.txt
  vita3k/lang/src/lang.cpp
Labels: gui/lang, external

#3202 renderer: Add screenshot support
  vita3k/config/include/config/config.h
  vita3k/gui/src/controls_dialog.cpp
  vita3k/interface.cpp
  vita3k/renderer/include/renderer/gl/state.h
  vita3k/renderer/include/renderer/gl/surface_cache.h
  vita3k/renderer/include/renderer/state.h
  vita3k/renderer/include/renderer/surface_cache.h
  vita3k/renderer/include/renderer/vulkan/state.h
  vita3k/renderer/include/renderer/vulkan/surface_cache.h
  vita3k/renderer/src/gl/renderer.cpp
  vita3k/renderer/src/gl/surface_cache.cpp
  vita3k/renderer/src/gl/sync_state.cpp
  vita3k/renderer/src/texture/replacement.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: renderer, gui, vulkan, config, opengl, texture

#3204 io: implement music0, photo0, video0 devices
  vita3k/io/include/io/VitaIoDevice.h
  vita3k/io/include/io/device.h
  vita3k/io/src/io.cpp
Labels: io

#3206 gui/lang: Update minor lang strings.
  lang/system/da.xml
  lang/system/de.xml
  lang/system/en-gb.xml
  lang/system/en.xml
  lang/system/es.xml
  lang/system/fi.xml
  lang/system/fr.xml
  lang/system/it.xml
  lang/system/ja.xml
  lang/system/ko.xml
  lang/system/nl.xml
  lang/system/no.xml
  lang/system/pl.xml
  lang/system/pt-br.xml
  lang/system/pt.xml
  lang/system/ru.xml
  lang/system/sv.xml
  lang/system/tr.xml
  lang/system/zh-s.xml
  lang/system/zh-t.xml
  lang/user/id.xml
  lang/user/ms.xml
  vita3k/gui/src/controls_dialog.cpp
  vita3k/gui/src/gui.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
Labels: gui, gui/lang

#3212 modules/SceHttp: fix crash on HLE of creating https connection
  vita3k/modules/SceHttp/SceHttp.cpp
Labels: modules, hle

#3210 Fix texture export for gamma textures
  vita3k/renderer/src/texture/replacement.cpp
Labels: renderer, texture

#3207 renderer: Implement fractional upscaling
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/renderer/include/renderer/gl/surface_cache.h
  vita3k/renderer/include/renderer/state.h
  vita3k/renderer/src/creation.cpp
  vita3k/renderer/src/gl/draw.cpp
  vita3k/renderer/src/gl/renderer.cpp
  vita3k/renderer/src/gl/surface_cache.cpp
  vita3k/renderer/src/gl/sync_state.cpp
  vita3k/renderer/src/scene.cpp
  vita3k/renderer/src/vulkan/creation.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/renderer/src/vulkan/scene.cpp
  vita3k/renderer/src/vulkan/surface_cache.cpp
  vita3k/renderer/src/vulkan/sync_state.cpp
Labels: renderer, gui, vulkan, config, opengl

#3211 vita3k: some minor bugfixes
  vita3k/codec/include/codec/state.h
  vita3k/config/include/config/state.h
  vita3k/gdbstub/src/gdb.cpp
  vita3k/gui/src/license_install_dialog.cpp
  vita3k/gui/src/threads_dialog.cpp
  vita3k/io/src/io.cpp
  vita3k/kernel/src/debugger.cpp
  vita3k/kernel/src/kernel.cpp
  vita3k/kernel/src/load_self.cpp
  vita3k/kernel/src/thread.cpp
  vita3k/main.cpp
  vita3k/modules/SceGxm/SceGxm.cpp
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
  vita3k/shader/include/shader/usse_program_analyzer.h
  vita3k/shader/src/spirv_recompiler.cpp
  vita3k/vkutil/include/vkutil/objects.h
Labels: modules, io, kernel, gui, hle, shader, vulkan, codec, config, debug, gdbstub

#3215 gui/settings dialog: Fixed a bug.
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
Labels: gui, gui/lang

#3223 renderer/vulkan: Fix MSAA2x
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: renderer, vulkan

#3230 gui/information bar: Add support of read battery level.
  vita3k/gui/src/information_bar.cpp
Labels: gui

#3216 lang: Improve Polish localization.
  lang/system/pl.xml
Labels: gui/lang
