Repository Vita3K/Vita3K, pull requests merged in 2024-04, with the labels that each got.

#3262 renderer/vulkan: Improve depth/stencil retrieval
  vita3k/renderer/include/renderer/vulkan/surface_cache.h
  vita3k/renderer/src/vulkan/surface_cache.cpp
  vita3k/vkutil/include/vkutil/vkutil.h
  vita3k/vkutil/src/vkutil.cpp
Labels: renderer, vulkan

#3277 kernel/load_self: fix memory leak
  vita3k/kernel/src/load_self.cpp
Labels: kernel

#3282 ci: respond to github action's macos runner chnage
  .github/workflows/c-cpp.yml
  external/CMakeLists.txt
  vita3k/CMakeLists.txt
  vita3k/modules/SceGxm/SceGxm.cpp
  vita3k/renderer/src/texture/cache.cpp
Labels: modules, renderer, hle, texture, .github, external
