Repository Vita3K/Vita3K, pull requests merged in 2024-05, with the labels that each got.

#3291 mem/threads: Include some missing header files
  vita3k/kernel/include/kernel/thread/thread_data_queue.h
  vita3k/mem/include/mem/mempool.h
Labels: memory, kernel

#3267 gui/themes: Fix and refactor position of day moment on start screen.
  vita3k/gui/src/themes.cpp
Labels: gui

#3269 config: Makes log level display easier to understand
  vita3k/config/src/config.cpp
Labels: config

#3295 gui: Fix about_dialog imgui assert
  vita3k/gui/src/about_dialog.cpp
Labels: gui

#3299 modules/SceNgs: fix crash of Helldivers game
  vita3k/modules/SceNgsUser/SceNgs.cpp
Labels: modules, hle

#3298 shader, renderer/vulkan: Perform gamma correction within shaders when using shader interlock
  vita3k/renderer/include/renderer/vulkan/pipeline_cache.h
  vita3k/renderer/src/vulkan/pipeline_cache.cpp
  vita3k/shader/include/shader/spirv_recompiler.h
  vita3k/shader/include/shader/usse_translator_types.h
  vita3k/shader/src/spirv_recompiler.cpp
Labels: renderer, shader, vulkan
