Repository Vita3K/Vita3K, pull requests merged in 2024-03, with the labels that each got.

#3227 external: Import CppCommon to detect CPU and OS
  external/CMakeLists.txt
  external/CppCommon/LICENSE
  external/CppCommon/README.md
  external/CppCommon/include/cpu.h
  external/CppCommon/include/environment.h
  external/CppCommon/include/resource.h
  external/CppCommon/source/cpu.cpp
  external/CppCommon/source/environment.cpp
  vita3k/CMakeLists.txt
  vita3k/gui/CMakeLists.txt
  vita3k/gui/src/app_context_menu.cpp
  vita3k/main.cpp
Labels: gui, external

#3236 vita3k: Fix some arm64 running issues
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/vkutil/include/vkutil/vkutil.h
Labels: renderer, vulkan

#3238 vkutil: Fix regression
  vita3k/vkutil/include/vkutil/vkutil.h
Labels: vulkan

#3232 renderer: Improve transfer copy and downscale
  vita3k/modules/SceGxm/SceGxm.cpp
  vita3k/renderer/include/renderer/vulkan/state.h
  vita3k/renderer/include/renderer/vulkan/surface_cache.h
  vita3k/renderer/include/renderer/vulkan/types.h
  vita3k/renderer/src/transfer.cpp
  vita3k/renderer/src/vulkan/context.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
  vita3k/renderer/src/vulkan/surface_cache.cpp
Labels: modules, renderer, hle, vulkan

#3234 gui/live area: Fix transparency of Info bar.
  vita3k/gui/src/live_area.cpp
Labels: gui

#3246 kernel: Add support for module unloading/reloading
  vita3k/interface.cpp
  vita3k/kernel/include/kernel/load_self.h
  vita3k/kernel/include/kernel/state.h
  vita3k/kernel/include/kernel/types.h
  vita3k/kernel/src/kernel.cpp
  vita3k/kernel/src/load_self.cpp
  vita3k/module/src/load_module.cpp
  vita3k/modules/SceKernelModulemgr/SceModulemgr.cpp
  vita3k/modules/SceKernelModulemgr/SceModulemgr.h
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
  vita3k/modules/SceSysmodule/SceSysmodule.cpp
  vita3k/modules/include/modules/module_parent.h
  vita3k/modules/module_parent.cpp
Labels: modules, kernel, hle, module

#3247 shader: fixed misuse of spv::Builder::createOp with spv::OpVectorShuffle
  vita3k/shader/src/spirv_recompiler.cpp
  vita3k/shader/src/translator/alu.cpp
  vita3k/shader/src/translator/texture.cpp
Labels: shader

#3229 renderer: add actual GPU name into github issue template
  vita3k/gui/src/app_context_menu.cpp
  vita3k/renderer/include/renderer/gl/state.h
  vita3k/renderer/include/renderer/state.h
  vita3k/renderer/include/renderer/vulkan/state.h
  vita3k/renderer/src/gl/renderer.cpp
  vita3k/renderer/src/vulkan/renderer.cpp
Labels: renderer, gui, vulkan, opengl

#3252 shader: replaced std map by std array to store shader code in convert_gxp_usse_to_spirv
  vita3k/shader/src/usse_translator_entry.cpp
Labels: shader

#3255 gui/settings dialog: Fix allow using surface sync on ogl.
  vita3k/gui/src/settings_dialog.cpp
Labels: gui

#3254 shader: Improve signed integer normalization
  vita3k/shader/include/shader/usse_utilities.h
  vita3k/shader/src/spirv_recompiler.cpp
  vita3k/shader/src/translator/alu.cpp
  vita3k/shader/src/translator/data.cpp
  vita3k/shader/src/usse_utilities.cpp
Labels: shader

#3263 compat: Fixed issue count discrepancy after update.
  vita3k/compat/src/compat.cpp
Labels: compat

#3265 Add new supporter.
  README.md
  vita3k/gui/src/about_dialog.cpp
Labels: gui, document
