Repository Vita3K/Vita3K, pull requests merged in 2025-02, with the labels that each got.

#3517 Updated Swedish translation
  lang/system/sv.xml
Labels: gui/lang

#3519 lang: revert some wrong string of sv.
  lang/system/sv.xml
Labels: gui/lang

#3514 util/log.h: Fix log_hex
  vita3k/util/include/util/log.h
Labels: util

#3521 Fix some language codes in get_firmware_file
  vita3k/gui/src/initial_setup.cpp
Labels: gui

#3485 gui/manual: Refactor page loading logic.
  vita3k/gui/src/manual.cpp
Labels: gui

#3522 packages: Fix method to get range in std::vector.
  vita3k/packages/src/sce_utils.cpp
Labels: packages

#3509 ngs: Fix attempts to allocate huge amounts of memory causing the process to freeze.
  vita3k/ngs/src/modules/atrac9.cpp
Labels: ngs
