Repository Vita3K/Vita3K, pull requests merged in 2025-05, with the labels that each got.

#3584 mem/ptr.h: Remove template for 'Ptr(U *, const MemState &)'
  vita3k/mem/include/mem/ptr.h
  vita3k/modules/SceLibKernel/SceLibKernel.cpp
Labels: modules, memory, hle

#3589 config: reduce memory consumption and refactoring
  vita3k/config/CMakeLists.txt
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/config/include/config/yaml.h
  vita3k/config/src/config.cpp
  vita3k/ctrl/src/ctrl.cpp
  vita3k/gui/include/gui/state.h
  vita3k/gui/src/common_dialog.cpp
  vita3k/gui/src/controls_dialog.cpp
  vita3k/gui/src/home_screen.cpp
  vita3k/gui/src/settings.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/gui/src/user_management.cpp
  vita3k/interface.cpp
  vita3k/lang/src/lang.cpp
  vita3k/module/src/load_module.cpp
  vita3k/modules/SceSysmodule/SceSysmodule.cpp
  vita3k/renderer/src/gl/sync_state.cpp
Labels: modules, renderer, build, gui, hle, config, ctrl, opengl, gui/lang, module

#3597 packages/sce utils: skip fself decryption for invalid SELF files.
  vita3k/kernel/src/load_self.cpp
  vita3k/packages/src/sce_utils.cpp
Labels: kernel, packages

#3592 ngs/player: fix small typo
  vita3k/ngs/src/modules/player.cpp
Labels: ngs

#3570 ctrl: Map all controllers to port 1 when not in PSTV mode
  vita3k/ctrl/src/ctrl.cpp
Labels: ctrl

#3595 README: Add release badge.
  README.md
Labels: document

#3593 lang/app/renderer: Update Simplified Chinese translation
  lang/system/en.xml
  lang/system/zh-s.xml
  lang/user/id.xml
  vita3k/app/src/app_init.cpp
  vita3k/lang/include/lang/state.h
  vita3k/renderer/src/vulkan/screen_filters.cpp
Labels: renderer, app, vulkan, gui/lang

#3606 packages/sfo: Refactor and handle all supported SFO data fmt.
  vita3k/packages/include/packages/sfo.h
  vita3k/packages/src/sfo.cpp
Labels: packages

#3608 module/load module: Add SQLITE module in auto-load list.
  vita3k/module/src/load_module.cpp
Labels: hle, module

#3601 util/exec.h: Fix include
  vita3k/util/include/util/exec.h
Labels: util
