Repository Vita3K/Vita3K, pull requests merged in 2025-04, with the labels that each got.

#3541 audio/gui/ngs/renderer/util: Optimize some code
  vita3k/audio/include/audio/state.h
  vita3k/gui/src/license_install_dialog.cpp
  vita3k/ngs/include/ngs/system.h
  vita3k/renderer/src/texture/pvrt-dec.cpp
  vita3k/util/include/util/pool.h
Labels: audio, renderer, gui, ngs, texture, util

#3540 gdbstub/gui/shader: Simplify expressions
  vita3k/gdbstub/src/gdb.cpp
  vita3k/gui/src/app_context_menu.cpp
  vita3k/gui/src/home_screen.cpp
  vita3k/gui/src/settings_dialog.cpp
  vita3k/shader/src/translator/alu.cpp
Labels: gui, shader, debug, gdbstub

#3537 gui/renderer: Replace sscanf when not parsing a complex string
  vita3k/gui/src/live_area.cpp
  vita3k/gui/src/themes.cpp
  vita3k/renderer/src/texture/replacement.cpp
Labels: renderer, gui, texture

#3478 npCommon: Fix NpCmpNpId
  vita3k/modules/SceNpCommon/SceNpCommon.cpp
  vita3k/modules/SceNpManager/SceNpManager.cpp
  vita3k/np/include/np/common.h
Labels: modules, hle, np

#3456 modules/SceAppMgr: fix Sfo loading and improve AppParamGetString.
  vita3k/interface.cpp
  vita3k/modules/SceAppMgr/SceAppMgr.cpp
  vita3k/modules/SceAppMgr/SceAppMgr.h
  vita3k/modules/SceDriverUser/SceAppMgrUser.cpp
  vita3k/packages/src/sfo.cpp
Labels: modules, hle, packages

#3455 ngs/player: ngs/player: Prevent crash by rounding playback rate up.
  vita3k/ngs/src/modules/player.cpp
Labels: ngs

#2957 vita3k: Drop inputs while any settings or controls dialog is open.
  vita3k/ctrl/src/ctrl.cpp
  vita3k/emuenv/include/emuenv/state.h
  vita3k/interface.cpp
Labels: ctrl, emuenv

#3554 gui/lang: Add one translatable string
  lang/system/en.xml
  lang/system/zh-s.xml
  vita3k/gui/src/initial_setup.cpp
  vita3k/lang/include/lang/state.h
Labels: gui, gui/lang

#2876 gui/ime: Fix respect aspect ratio.
  vita3k/gui/src/ime.cpp
Labels: gui

#3553 gui: Fix missing Chinese fonts in initial setup screen.
  vita3k/gui/src/gui.cpp
Labels: gui

#3505 gui: Fix Chinese characters are displayed as Japanese glyphs
  vita3k/gui/src/gui.cpp
Labels: gui

#3432 modules/SceVshBridge: Stub vshDisplayRegisterFrameBufCallback .
  vita3k/modules/SceDisplay/SceDisplay.h
  vita3k/modules/SceVshBridge/SceVshBridge.cpp
Labels: modules, hle

#3563 Add the "Fullscreen HD res pixel perfect" checkbox in the GUI section
  vita3k/app/src/app_init.cpp
  vita3k/config/include/config/config.h
  vita3k/config/include/config/state.h
  vita3k/gui/src/settings_dialog.cpp
  vita3k/interface.cpp
  vita3k/lang/include/lang/state.h
  vita3k/renderer/include/renderer/state.h
  vita3k/renderer/src/vulkan/screen_filters.cpp
Labels: renderer, gui, app, vulkan, config, gui/lang

#3567 modules/SceNet: correct declaration of byte order conversion functions
  vita3k/modules/SceNet/SceNet.cpp
Labels: modules, hle

#3568 modules/SceIme: Fix freezing at sceImeSetCaret/sceImeSetPreeditGeometry
  vita3k/modules/SceIme/SceIme.cpp
Labels: modules, hle

#3525 Revert #3514
  vita3k/renderer/src/texture/cache.cpp
  vita3k/renderer/src/texture/replacement.cpp
  vita3k/renderer/src/transfer.cpp
  vita3k/shader/src/spirv_recompiler.cpp
  vita3k/shader/src/usse_utilities.cpp
  vita3k/util/include/util/log.h
Labels: renderer, shader, texture, util

#3569 modules/module_parent: optimise HLE calls
  vita3k/modules/module_parent.cpp
Labels: modules, hle

#3572 external: Fix link to pre-built OpenSSL by updating it to 3.5.
  external/CMakeLists.txt
Labels: external

#3574 modules/SceGxm: Add fallback for sceGxmGetPrecomputed*StateSize.
  vita3k/modules/SceGxm/SceGxm.cpp
Labels: modules, hle

#3571 util/log.h: Make log_hex available to uint8_t
  vita3k/renderer/src/gl/compile_program.cpp
  vita3k/util/include/util/log.h
  vita3k/util/src/logging.cpp
Labels: renderer, opengl, util

#3439 gui: improve settings dialog
  .gitignore
  vita3k/gui/src/settings_dialog.cpp
  vita3k/lang/include/lang/state.h
Labels: gui, gui/lang

#3577 modules/SceCommonDialog: Reset button id in sceSaveDataDialogContinue.
  vita3k/modules/SceCommonDialog/SceCommonDialog.cpp
Labels: modules, hle

#3582 vita3k: Improve use of string/stringstream
  vita3k/cpu/include/cpu/common.h
  vita3k/cpu/src/disasm.cpp
  vita3k/gdbstub/src/gdb.cpp
  vita3k/kernel/src/thread.cpp
  vita3k/modules/SceFiber/SceFiber.cpp
  vita3k/renderer/src/gl/compile_program.cpp
  vita3k/util/include/util/tracy.h
  vita3k/util/src/string_utils.cpp
Labels: modules, kernel, renderer, cpu, hle, debug, gdbstub, opengl, util

#3523 renderer/vulkan: Ensure that the std::thread object is destroyed properly.
  vita3k/renderer/include/renderer/vulkan/types.h
  vita3k/renderer/src/vulkan/creation.cpp
Labels: renderer, vulkan

#3580 modules/SceGxm: add ptr.valid check in sceGxmDestroyRenderTarget
  vita3k/modules/SceGxm/SceGxm.cpp
Labels: modules, hle
