Repository Vita3K/Vita3K, pull requests merged in 2025-03, with the labels that each got.

#3538 external: Fix link to pre-built OpenSSL by updating it to 3.4 and small more.
  external/CMakeLists.txt
  gen-windows.bat
Labels: windows, external

#3531 renderer: fixed dxgi apply for BC2_UNORM format
  vita3k/renderer/src/texture/replacement.cpp
Labels: renderer, texture

#3539 util/bytes: Fix method to get system endian type
  vita3k/util/include/util/bytes.h
Labels: util

#3542 gui/vita3k updater: Refactor and fix get commit descriptions.
  vita3k/gui/src/vita3k_update.cpp
Labels: gui
