Repository Vita3K/Vita3K, pull requests merged in 2025-01, with the labels that each got.

#3447 gui/controllers: align controller assignment behavior with Vita TV
  vita3k/ctrl/include/ctrl/state.h
  vita3k/ctrl/src/ctrl.cpp
  vita3k/gui/src/controllers_dialog.cpp
  vita3k/interface.cpp
  vita3k/modules/SceCtrl/SceCtrl.cpp
Labels: modules, gui, hle, ctrl

#3488 shader: Add sample lod bias support
  vita3k/shader/src/translator/texture.cpp
Labels: shader

#3461 motion: Return proper error codes
  vita3k/modules/SceDriverUser/SceMotion.cpp
  vita3k/motion/include/motion/state.h
Labels: modules, hle, motion

#3459 package: Implement decrypt fself in a fly.
  vita3k/emuenv/include/emuenv/state.h
  vita3k/emuenv/src/emuenv.cpp
  vita3k/gui/src/license_install_dialog.cpp
  vita3k/gui/src/live_area.cpp
  vita3k/interface.cpp
  vita3k/io/include/io/state.h
  vita3k/main.cpp
  vita3k/modules/SceAppUtil/SceAppUtil.cpp
  vita3k/modules/module_parent.cpp
  vita3k/packages/CMakeLists.txt
  vita3k/packages/include/packages/functions.h
  vita3k/packages/include/packages/license.h
  vita3k/packages/include/packages/sce_types.h
  vita3k/packages/src/license.cpp
  vita3k/packages/src/pkg.cpp
  vita3k/packages/src/pup.cpp
  vita3k/packages/src/sce_utils.cpp
Labels: modules, io, build, gui, hle, emuenv, packages

#3495 ci: use ubuntu-22.04 instead of ubuntu-latest
  .github/workflows/c-cpp.yml
Labels: build, .github

#3498 ci: fix create release find linux artefact.
  .github/workflows/c-cpp.yml
Labels: build, .github

#2932 gui/initial setup: Add two gui setting and little more.
  vita3k/gui/src/initial_setup.cpp
  vita3k/main.cpp
Labels: gui

#3492 interface: Adding support of drag and drop pup file.
  vita3k/gui/src/firmware_install_dialog.cpp
  vita3k/interface.cpp
  vita3k/packages/include/packages/functions.h
  vita3k/packages/src/pup.cpp
Labels: gui, packages

#3501 gui/initial setup: Fix path of serialize config.
  vita3k/gui/src/initial_setup.cpp
Labels: gui

#3493 modules/SceSaveDataDialog: Fix display list when list size is 0.
  vita3k/modules/SceCommonDialog/SceCommonDialog.cpp
Labels: modules, hle
